nav{
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav ul {
    background-color: #243B93;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-family: "PT Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    margin: 0 auto;
}
body{
    margin: 0px;
}
.header_ul a{
    color: #FFFFFF;
    text-decoration: none;
    
}
.header_ul li{
    margin-top: auto;
    margin-bottom: auto;
    
}
.header_li_centr{
    text-align: center;
}
#head_li_globus a{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin: 0;
}
.div_h1{
    background-color: #BFF0FF;
    height: 10vh;
    margin-top: auto;
}
h1{
    font-family: "PT Sans";
    font-weight: 400;
    font-style: italic;
    font-size:2.3rem;
    line-height: 56.94px;
    color: #202846;
    margin: 0px;
    height: 100%;
    padding-top: 0.75rem;
    width: 83%;
    margin: 0 auto;

}
.container_background{
    min-height: 155vh;
    background-color:  #fed6da;
}
.container_cards{
    background-color: #fed6da;
    width: 83%;
    min-height: 80vh;
    margin: 0 auto;
    position: relative;
}
#container_card{
    background-color: #FFFFFF;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.61);
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 1.50rem;
    width: 100%;
    position: absolute;
    top: 0.75rem;
    left: 0;
    
}
.container_card_1{
    height: 30vh;
    width: 100%;
    background: linear-gradient(87.05deg, #A9CBD6 0%, #01AFE6 100%); 
}
.container_card_1:hover{
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}
.container_card_1:hover .butoon{
    background-color: #EF075B;
}
.container_card_1:hover svg path{
    fill: #FFFF00;
        
}

#block_1{
    position: absolute;
    top: 4.2rem;
    left: 0;
}
#block_2{
    position: absolute;
    top: 18rem;
    left: 0;
}
#block_3{
    position: absolute;
    top: 32rem;
    left: 0;
}
#block_4{
    position: absolute;
    top: 46rem;
    left: 0;
}
.card_content{
    width: 95%;
    display: flex;
    margin: 0 auto;
}
.card_content img{
    width: 27%;
    margin-top: 0.9375rem;
}
.img_div{
    width: 9%;
}
h3{
    font-family: "PT Sans";
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    color: #353C57;
    margin-bottom: 0;
    margin-top: 0.1875rem;
}
#border{
    width: 100%;
    margin: 0 auto;
    height: 1%;
}
.card_content_div_p{
    margin: 0;
    background-color:  #EDFBFF;
    height: 72%;
    position: relative;
}
svg{
    position: absolute;
    width: 2.1875rem;
    bottom: 108%;
    right: -3%;
}
.butoon{
    width: 2.1875rem;
    background-color: #243B93;
    border-radius: 47%;
    min-width: 20%;
    height: 35%;
    color: white;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "PT Sans";
    font-weight: 400;
}
#butoon_1{
    position: absolute;
    top: 70%;
    left: 87%;
}
.p{
    margin: 0px;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    color: #202846;
}
.footer_div{
    height: 10vh;
    background-color: #243B93;
}
.button_footer_svg{
    width: 4.3rem;
    height: 4rem;
    right: 1%;
    bottom: 120%;
    background: rgba(48, 12, 106, 0.3);
    border-radius: 50%;
    border: none;
    position: fixed;
    bottom: 12vh;
    right: 2vh;
}
.form_div{
    padding-left: 7rem;
    padding-top: 1.5rem;
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 0.8rem;
    color: #FFFFFF;
}
.personal_header_div{
    height: 10vh;
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    color: #243B93;
    font-family: "PT Sans";
    font-weight: 400;
    font-style: italic;
    font-size: 2.125rem;
    padding-top: 1.5rem;
    padding-left: 7rem;
}
.personal_conteiner_main{
    min-height: 77vh;
}
.personal_form{
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    margin: 0 auto;
    width: 70%;
    height: 23rem;
    margin-top: 2rem;
}
.personal_form_foto{
    display: flex;
    height: 100%;
}
.personal_form_1{
    width: 50%;
}
.personal_form_img{
    height: 50%;
}
.personal_form_img img{
    width: 35%;
    padding-top: 10%;
    padding-left: 25%;
}
.personal_form_inform{
    width: 60%;
}

.personal_form_button{
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: 25%;
    
}
.personal_butoon{
    width: 10rem;
    height: 2rem;
    background-color: #243B93;
    border-radius: 30%;
    text-decoration: none;
    color: white;
    border: 0px;
}
.personal_form_inform p{
    font-family: "PT Sans";
    font-weight: 700;
    font-style: italic;
    font-size: 25px;
    color: #353C57;
}

