body{
    margin: 0;
}
.conteiner{
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    min-width: 250px;
    min-height: 65vh;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wel{
    background-color: black;
    color: aliceblue;
    font-size: 29px;
    font-style: normal;
    text-align: center;
    padding-top: 8%;
    letter-spacing: 12px;
    font-family: 'Montserrat';
}
.span{
    background-color: black;
    color: aliceblue;
    width: 80%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-style: solid;
    border-color: aliceblue;
    text-align: center;
    line-height: 55px;
    letter-spacing: 3px;
    font-size: 15px;
    font-family: 'Montserrat';
}
.span:hover{
    border-color: blueviolet;
}
a{
    text-decoration: none;
}