html{
    overflow-x: hidden;
}
body{
    margin: 0;
}
.page{
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
}
.page:hover .img-left{
    animation-name: img-left;
    animation-duration: 2.5s;
    animation-direction: alternate;
}
.page:hover .img-right{
    animation-name: img-right;
    animation-duration: 2.5s;
    animation-direction: alternate;
}
.page:hover .img-centr-left-top{
    animation-name: img-left;
    animation-duration: 1.5s;
    animation-direction: alternate;
}
.page:hover .img-centr-left-bottom{
    animation-name: img-left;
    animation-duration: 1.5s;
    animation-direction: alternate;
}
.page:hover .img-centr-left-top2{
    animation-name: img-right;
    animation-duration: 1.5s;
    animation-direction: alternate;
}
.page:hover .img-centr-left-bottom2{
    animation-name: img-right;
    animation-duration: 1.5s;
    animation-direction: alternate;
}
.navbar{
   background-color: #000000;
   height: 10vh;
   display: flex;
   justify-content: space-between;
   position: fixed;
   width: 100%;
   z-index: 2;
}
.navbar__logotype{
    min-width: 10%;
    background-size: 100%;
    background-image: url(../img/navbar-logo.png);
    background-repeat: no-repeat;
    background-color: white;
}
.navbar__menu{
    width: 60%;
}
.navbar__menu ul{
    display: flex;
    justify-content: space-between;
    font-family: Rosario;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    list-style-type: none;
}
.navbar__menu a{
    color: #FFFCFC;
    text-decoration: none;
}
.container-pictures{
    height: 90vh;
    min-width: 100%;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
}
.container-pictures__outside{
    width: 20%;
    height: 60%;
    align-self: center;
    border-radius: 40px;
}
.container-pictures__centr{
    width: 50%;
    height: 85%;
    align-self: center;
    display: flex;
    justify-content: space-between;
}
.img-left{
    background: url(../img/left.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.img-right{
    background: url(../img/right.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container-pictures__centr_left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container-pictures__centr_right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img-centr-left-top{
    height: 50%;
    background: url(../img/left-1.png);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    border-radius: 30px;
}
.img-centr-left-bottom{
    height: 50%;
    background: url(../img/left-2.png);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    border-radius: 30px;
}
.img-centr-left-top2{
    height: 50%;
    background: url(../img/rigtt-1.png);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    border-radius: 30px;
}
.img-centr-left-bottom2{
    height: 50%;
    background: url(../img/right-2.png);
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    border-radius: 30px;
}
.container-page-2{
    height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}
.container-page-2__circle-img{
    width: 35%;
    height: 75%;
    display: flex;
    margin-left: 5.3125rem;
    align-self: center;
    justify-content: space-between;

}
.container-page-2__circle-img_circle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.circle{
    background-color: yellow;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.circle-title{
    font-family: Rosario;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
}
.container-page-2__background-img{
    background-color: blue;
    width: 50%;
    background-image: url(../img/background-page2.png);
    background-position: center;
    background-size: cover;
}
.circle__img1{
    background-size: cover;
    animation-name: circle__img1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.circle__img2{
    background-size: cover;
    animation-name: circle__img2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.circle__img3{
    background-size: cover;
    animation-name: circle__img3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.circle__img4{
    background-size: cover;
    animation-name: circle__img4;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
#img1{
    background-image: url(../img/two-1.png);
    background-position: center;
}
#img2{
    background-image: url(../img/two-2.png);
    background-position: center;
}
#img3{
    background-image: url(../img/two-3.png);
    background-position: center;
}
#img4{
    background-image: url(../img/two-4.png);
    background-position: center;
}
.container-page-3{
    height: 90vh;
    min-height: 90%;
    width: 95%;
    align-self: flex-end;
}
.container-page-2__title{
    font-family: Rosario;
    font-style: normal;
    width: 100%;
    height: 20%;
    text-align: center;
    font-weight: 700;
    font-size: 70px;
    line-height: 116px;
}
.background-barber{
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.background-barber__card{
    width: 24%;
    height: 90%;
    align-self: center;
    border-radius: 40px;
    display: flex;
}
#Meredith{
    background-image: url("../img/card1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#Jason{
    background-image: url("../img/card2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#Ryan{
    background-image: url("../img/card3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#James{
    background: url("../img/card4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.name{
    background: rgba(163, 83, 10, 0.7);
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: all 1s;
    font-family:Volkhov;
    font-weight: 400;
    color: #FFFAFA;
    font-size: 48px;
    align-self: flex-end;
    border-radius: 40px;
}
.background-barber__card:hover .name{
    height: 30%;
}
.container-page-3:has(:hover) .background-barber__card:not(:hover) {
    filter: brightness(40%)
}
.container-page-4{
    height: 90vh;
    width: 85%;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container-page-4__form{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-between;
}
.container-page-4__form_text{
    width: 60%;
    height: 100%;
    overflow: hidden;
}
.container-page-4__form_map{
    width: 40%;
    align-self: flex-start;
    height: 100%;
    overflow: hidden;
}
.container-page-4__footer{
    min-height: 20%;
    width: 100%;
    display: flex;
    align-self: center;
}
#h1{
    font-family: Rosario;
    font-size: 55px;
    font-style: italic;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 1rem;
}
.form{
    background-color: #E5E5E5;
    height: 70%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.form__1{
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#name{
 width: 30%;
 font-family: 'Rosario';
 font-style: normal;
 font-weight: 700;
 font-size: 25px;
 line-height: 44px;
 border: none;
}
#email{
    width: 50%;
    height: 45px;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 44px;
    text-align: center;
    border: none;
   }
.form__2{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#message{
    height: 80%;
    width: 90%;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    border: none;
}
.container-page-4__footer{
    display: flex;
    justify-content: space-around;
}
.container-page-4__footer li{
    list-style: none;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
}
.ul img{
    width: 15px;
}
/*animation page-1*/
@keyframes img-left{

    0%{
        transform: translate(-1000px, 0px)
    }
    100%{
        transform: translate(0px, 0px)
    }
    }

@keyframes img-right{

        0%{
            transform: translate(1000px, 0px)
        }
        100%{
            transform: translate(0px, 0px)
        }
        }
         
/*animation page-2*/
        @keyframes circle__img1{
                0% {
                    transform: translateX(0px);
                }
            
                25% {
                    transform: translateX(270px);
            
                }
            
                50% {
                    transform: translate(270px,250px)
                }
            
                75% {
                    transform: translateY(250px);
                    
                }
                100% {
                    transform: translateX(0px);
                }
            }
            @keyframes circle__img2{
                0% {
                    transform: translateX(0px);
                }
            
                25% {
                    transform: translateY(-250px);
            
                }
            
                50% {
                    transform: translate(270px,-250px);
                }
            
                75% {
                    transform: translate(270px,5px)
                    
                }
                100% {
                    transform: translateX(0px);
                }
            }
            @keyframes circle__img3{
                0% {
                    transform: translateX(0px);
                }
            
                25% {
                    transform: translate(5px,250px)
            
                }
            
                50% {
                    transform: translate(-270px,250px);
                }
            
                75% {
                    transform: translate(-275px,5px)
                    
                }
                100% {
                    transform: translateX(0px);
                }
            }
            @keyframes circle__img4{
                0% {
                    transform: translateX(0px);
                }
            
                25% {
                    transform: translate(-270px,5px)
            
                }
            
                50% {
                    transform: translate(-270px,-250px);
                }
            
                75% {
                    transform: translate(5px,-250px)
                    
                }
                100% {
                    transform: translateX(0px);
                }
            }

@media (max-width: 768px) {
    .page{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }
    .page:hover .img-left{
        animation-name: img-left;
        animation-duration: 2.5s;
        animation-direction: alternate;
    }
    .page:hover .img-right{
        animation-name: img-right;
        animation-duration: 2.5s;
        animation-direction: alternate;
    }
    .page:hover .img-centr-left-top{
        animation-name: img-right;
        animation-duration: 2.5s;
        animation-direction: alternate;
    }
    .page:hover .img-centr-left-bottom{
        animation-name: img-left;
        animation-duration: 2.5s;
        animation-direction: alternate;
    }
    .page:hover .img-centr-left-top2{
        animation-name: img-right;
        animation-duration: 2.5s;
        animation-direction: alternate;
    }
    .page:hover .img-centr-left-bottom2{
        animation-name: img-left;
        animation-duration: 2.5s;
        animation-direction: alternate;
    }
    .navbar{
       background-color: #000000;
       height: 10vh;
       display: flex;
       justify-content: space-between;
       position: fixed;
       width: 100%;
       z-index: 2;
    }
    .navbar__logotype{
        min-width: 10%;
        background-image: url(../img/navbar-logo.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: white;
    }
    .navbar__menu{
        width: 90%;
    }
    .navbar__menu ul{
        display: flex;
        justify-content: space-between;
        font-family: Rosario;
        font-weight: 700;
        font-style: italic;
        font-size: 20px;
        list-style-type: none;
    }
    .navbar__menu a{
        color: #FFFCFC;
        text-decoration: none;
    }
    .container-pictures{
        width: 90%;
        margin-top: 10vh;
        overflow: hidden;
        display: inline-block;
        min-height: 350vh;
    }
    .container-pictures__outside{
        width: 300px;
        height: 400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    
    .container-pictures__centr{
        width: 300px;
        height: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 10px;
    }
    .container-pictures__centr_left{
        width: 100%;
        height: 50%;
        margin-top: 10px;
    }
    .img-centr-left-bottom{
        margin-top: 10px;
    }
    .container-pictures__centr_right{
        width: 100%;
        height: 50%;
        margin-top: 10px;
    }
    .img-centr-left-bottom2{
        width: 100%;
        height: 50%;
        margin-top: 10px;
    }
    .container-page-2__background-img{
        display: none;
    }
    .container-page-2__circle-img{
        width: 60%;
        height: 75%;
        margin: 0 auto;
    }
    .container-page-2__circle-img_circle{
        width: 40%;
        margin: 0 auto;
    }
    .circle{
        width: 150px;
        border-radius: 50%;
    }
    .circle__img1{
        background-size: cover;
        animation-name: circle__img1;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    .circle__img2{
        background-size: cover;
        animation-name: circle__img2;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    .circle__img3{
        background-size: cover;
        animation-name: circle__img3;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    .circle__img4{
        background-size: cover;
        animation-name: circle__img4;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    #img1{
        background-image: url(../img/two-1.png);
        background-position: center;
        background-size: cover;
    }
    #img2{
        background-image: url(../img/two-2.png);
        background-position: center;
        background-size: cover;
    }
    #img3{
        background-image: url(../img/two-3.png);
        background-position: center;
        background-size: cover;
    }
    #img4{
        background-image: url(../img/two-4.png);
        background-position: center;
        background-size: cover;
    }
    .container-page-3{
        width: 95%;
        margin-top: 0px;
        overflow: hidden;
        min-height: 2000px;
        justify-content: center;
    }
    .container-page-2__title{
        font-family: Rosario;
        font-style: normal;
        width: 100%;
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        margin-top: 0px;
        height: 100px;
    }
    .background-barber{
        width: 40%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 10px;
    }
    .background-barber__card{
        width: 100%;
        height: 100%;
        align-self: center;
        border-radius: 40px;
        display: flex;
        margin-top: 10px;
    }
    #Meredith{
        background-image: url("../img/card1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #Jason{
        background-image: url("../img/card2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #Ryan{
        background-image: url("../img/card3.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #James{
        background: url("../img/card4.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .container-page-4{
        width: 85%;
        margin-top: 10vh;
        min-height: 1000px;
    }
    .container-page-4__form{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column-reverse;
    }
    .container-page-4__form_text{
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0 auto;
    }
    .container-page-4__form_map{
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }
    /*animation page-1*/
@keyframes img-left{

    0%{
        transform: translate(-1000%, 0%)
    }
    100%{
        transform: translate(0%, 0%)
    }
    }
    @keyframes img-right{

        0%{
            transform: translate(1000%, 0%)
        }
        100%{
            transform: translate(0%, 0%)
        }
        }

        /*animation page-2*/
        @keyframes circle__img1{
            0% {
                transform: translateX(0px);
            }
        
            25% {
                transform: translateX(235px);
        
            }
        
            50% {
                transform: translate(235px,190px)
            }
        
            75% {
                transform: translateY(190px);
                
            }
            100% {
                transform: translateX(0px);
            }
        }
        @keyframes circle__img2{
            0% {
                transform: translateX(0px);
            }
        
            25% {
                transform: translateY(-190px);
        
            }
        
            50% {
                transform: translate(235px,-190px);
            }
        
            75% {
                transform: translate(235px,5px)
                
            }
            100% {
                transform: translateX(0px);
            }
        }
        @keyframes circle__img3{
            0% {
                transform: translateX(0px);
            }
        
            25% {
                transform: translate(5px,190px)
        
            }
        
            50% {
                transform: translate(-235px,190px);
            }
        
            75% {
                transform: translate(-235px,0px)
                
            }
            100% {
                transform: translateX(0px);
            }
        }
        @keyframes circle__img4{
            0% {
                transform: translateX(0px);
            }
        
            25% {
                transform: translate(-235px,0px)
        
            }
        
            50% {
                transform: translate(-235px,-190px);
            }
        
            75% {
                transform: translate(0px,-190px)
                
            }
            100% {
                transform: translateX(0px);
            }
        }
}

@media (max-width: 992px){
    .navbar__menu{
        width: 90%;
    }
    .container-pictures{
        height: 150vh;
        min-width: 100%;
        margin-top: 10vh;
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    .img-right{
        background: url(../img/right.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        height: 500px;
        top: 10px;
        left: 290px;
        height: 300px;
    }
    .img-left{
        background: url(../img/left.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        height: 500px;
        top: 10px;
        right: 290px;
        height: 300px;
    }
    .container-pictures__centr_left{
        position: relative;
    }
    .img-centr-left-top{
        background: url(../img/left-1.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 30px;
        position: absolute;
        height: 200px;
        width: 300px;
        top: 268px;
        right: 10px;

    }
    .img-centr-left-bottom{
        height: 50%;
        background: url(../img/left-2.png);
        background-position: center;
        background-size: 300px;
        background-repeat: no-repeat;
        border-radius: 30px;
        position: absolute;
        height: 200px;
        width: 300px;
        top: 484px;
        right: 10px;
    }
    .img-centr-left-top2{
        height: 50%;
        background: url(../img/rigtt-1.png);
        background-position: center;
        background-size: 300px;
        background-repeat: no-repeat;
        border-radius: 30px;
        position: absolute;
        height: 200px;
        width: 300px;
        top: 323px;
        right: 189px;
    }
    .img-centr-left-bottom2{
        height: 50%;
        background: url(../img/right-2.png);
        background-position: center;
        background-size: 300px;
        background-repeat: no-repeat;
        border-radius: 30px;
        position: absolute;
        height: 200px;
        width: 300px;
        top: 538px;
        left: 502px;
    }
    .container-page-2{
        min-height: 200vh;
        min-width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .container-page-2__background-img{
        background-color: blue;
        width: 62%;
        height: 100vh;
        background-image: url(../img/background-page2.png);
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        margin-top: 5px;
    }
    .container-page-2__circle-img{
        width: 50%;
        height: 44%;
        display: flex;
        margin-left: 5.3125rem;
        align-self: center;
        justify-content: space-between;
    }
    .container-page-3{
        width: 95%;
        margin-top: 0px;
        overflow: hidden;
        min-height: 160vh;
        justify-content: center;
    }
    .container-page-2__title{
        font-family: Rosario;
        font-style: normal;
        width: 100%;
        text-align: center;
        font-weight: 700;
        font-size: 60px;
        margin-top: 0px;
        height: 100px;
    }
    .background-barber{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        margin: 0 auto;
    }
    .background-barber__card{
        flex-basis: 30%;
        height: 50%;
        margin: 50px;
        align-self: center;
        border-radius: 40px;
        display: flex;
        margin-top: 10px;
    }
    #Meredith{
        background-image: url("../img/card1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #Jason{
        background-image: url("../img/card2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #Ryan{
        background-image: url("../img/card3.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-wrap: wrap;
    }
    #James{
        background: url("../img/card4.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
     }
     .container-page-4{
        width: 85%;
        margin-top: 10vh;
        min-height: 1000px;
    }
    .container-page-4__form{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
    }
    .container-page-4__form_text{
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0 auto;
    }
    .container-page-4__form_map{
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
        margin: 50px;
        display: flex;
        justify-content: center;
    }

}
@media (min-width: 992px) and (max-width: 1620px){
    body{
        margin: 0px 100px;
    }
}