
body{
    margin: 0;
    min-width: 43.75rem;
    max-width: 112.5rem;
}
.background{
    background-color: #001124;
    min-height: 100vh;
}
.background__form-registration{
    min-height: 50vh;
    position: relative;
    top: 10rem;
}
.form-registration{
    display: flex;
    align-items: center;
}
.form-registration__img{
    height: 50vh;
    width: 50%;
    background-image: url(../img/login\ 1.png);
    background-size: 29rem;
    background-repeat: no-repeat;
}
.form-registration__form{
    width: 30%;
    min-height: 40vh;
}
.form-login{
    font-family: DM Serif Display;
    font-weight: 400;
    font-size: 40px;
    color: white;
}
.input-email label{
    font-size: 0.875rem;
    display: block;
    color: white;
    letter-spacing: 0.5px;
}
.input-email input{
        width: 18.875rem;
        height: 1.75rem;
        display: block;
}
.form-registration__p {
    font-size: 0.875rem;
    color: white;
}
.form-registration__p a{
    text-decoration: none;
    color: #499FFE;
}
.form-button{
    background-color: #015FC7;
    border: 0px;
    color: white;
    font-family: DM Serif Display;
    letter-spacing: 0.0625rem;
    width: 130px;
    height: 30px;
}
.form-registration__button{
    margin-left: 5.5rem;
}
.form-two{
    min-height: 95vh;
    position: relative;
    top: 1rem;
}
.form-two__img{
    height: 70vh;
    width: 50%;
    background-image: url(../img/Figure.png);
    background-size: 16rem;
    background-repeat: no-repeat;
    background-position: center;
}
.form-two__form{
    width: 30%;
    height: 100%;
}
