html,body{
    margin: 0;
}
#header_div {
    text-align: center;
    
}
#header_div > span{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 2.5rem;
    width: 50%;
    letter-spacing: 6px;
    
}
#header_div:nth-child(1){
    color: #3E45E8;
}
#header_span{
    color: #E8C23E;
}
.div_fon{
    background-image: url(../img/фонове\ зображення.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;
    display: flex;
    margin-top: 1rem;
}
.conteiner{
    display: flex;
    height: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
    
}
.conteiner > img{
    height: 50%;
}
.fon_text{
    font-family: 'Inika', serif;
    font-weight: 700;
    font-size: 3rem;
    width: 90%;
    color: #FFFFFF;
}
.title_1{
    width: 50%;
}
.title_1 > h2{
    text-align: center;
    font-family: 'Inika', serif;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0px;
}
.div_icons{
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: 0 auto;
    margin-top: 2rem;
}
.icon{
    width: 30%;
    height: 30rem;
    border: 4px solid #0D095F;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 16px 21px 40px rgba(0, 209, 255, 0.35);;
}
.icon > img{
    width: 100%;
}
.icon > h3{
    font-family: 'Inika', serif;
    font-weight: 700;
    color: #0072DB;;
    font-size: 1.5rem;
    margin-bottom: 0px;
    padding-left: 1rem;
}
.icon > p{
    font-family: 'Inika';
    font-weight: normal;
    color: #FF9900;
    font-size: 1.25rem;
    padding-left: 1rem;
}
.title_2{
    width: 50%;
    margin: auto;
    text-align: center;
}
.title_2 > h2{
    text-align: center;
    font-family: 'Inika', serif;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0px;
}
.div_carta{
    width: 65%;
    margin: auto;
}
.div_carta > img{
    width: 100%;
    margin-top: 3rem;
}
.div_carta > a{
    width: 45%;
    height: 3rem;
    background-color: #2A61F0;
    border-radius: 50px;
    border: none;
    color: #FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inika';
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
}
.div_footer{
    background: linear-gradient(180deg, #013235 0%, #0D0661 100%);
    margin-top: 2rem;
}
.div_footer > p{
    width: 20%;
    margin: auto;
    font-family: 'Marcellus SC';
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    
}
.div_footer > p > a{
    text-decoration: none;
    color: #A89D9D;
}
.icons{
    width: 13%;
    display: block;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}
