html, body{
    margin: 0;
    font-family: Public Sans;
}
.background-page{
    background-color: #E5E5E5;
    min-height: 280vh;
    width: 100%;
}
.background-page__background-form{
    background-color: #F9F9F9;
    width: 60%;
    min-height: 265vh;
    margin: 0 auto;
    position: relative;
    top: 2rem;
}
.container-form{
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    top: 2rem;
}
.container-form__header{
    font-weight: 700;
    font-size: 24px;
    height: 15vh;
    display: flex;
    align-items: center;
}
.form-subtitle{
    font-weight: 700;
    font-size: 20px;
    height: 10vh;
    display: flex;
    align-items: center;
}
.form-bloks{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.form-block{
    width: 50%;

}
.form-input{
    width: 100%;
    
}
.form-input label{
    font-weight: 500;
    font-size: 14px;
}
.form-input input{
    width: 93%;
    height: 35px;
    border: 1px solid #ADADAD;
}
.form-input input:hover{
    background-color: #c0c0c0;
    outline: none;
}
.input_block2{
    margin-left: 1.25rem;
}
#form-p{
    height: 85px;
}
.checkbox{
    accent-color:  #FF00FF;
    border-radius: 2px;
    width: 1.5rem;
    height: 1.5rem;
}
.parget{
    width: 1.5rem;
    height: 1.5rem;
}
.solid{
    border: 1px solid #D1D1D1;
    width: 100%;
}
.p-checbox{
    font-weight: 500;
    font-size: 14px;
    display: flex;
}
.p-checbox label{
    width: 80%;
}
.input-gal{
    background-image: url(../img/Group.png);
    background-repeat: no-repeat;
    text-align: right;
    width: 5%;
    background-position: 98%;;
}
.input-gal2{
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    text-align: right;
    width: 5%;
    background-position: 98%;;
}
.button{
    border-radius: 4px;
    background-color: #0050D8;
    width: 69px;
    height: 40px;
    color: white;
    position: relative;
    left: 90%;
}