body{
    margin: 0;
}
.general-background{
    background-color: #212529;
    max-width: 1920px;
    margin: 0 auto;
}
.section-container{
    width: 90%;
    margin: 10% auto;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logotype{
    width: 25%;
}
.logotype img{
    width: 20%;
}
.navbar ul{
    width: 40%;
}
.navbar-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.navbar-a{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;
}
.navbar-a:hover{
    color:#FFB742;
}
.navbar__button{
    width: 25%;
    display: flex;
    justify-content: flex-end;
}
.button{
    width: 100px;
    height: 30px;
    background-color: #FFB742;
    border: 2px solid #FFB742;
    border-radius: 50px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-name{
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
}
.title-name a{
    color: #FFB742;
}
.title-name__title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.title-name__sumtitle{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 51px;
    color: #FFFFFF;
}
.title-name__avatar{
    display: flex;
    justify-content: center;
}
.title-name__avatar img{
    width: 20%;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.card{
    background: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
    width: 32%;
    height: 90px;
    display: flex;
    align-self: flex-end;
}
.card:hover{
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
} 
.card:hover .card__text_yellow{
    color: #212529;
}
.card:hover .card__text_paragraph{
    color: #212529;
}
.card__img{
    width: 25%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.card__img img{
    width: 70%;
}
.card__text{
    width: 70%;
}
.card__text_yellow{
    height: 60%;
    color: #FFB742;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__text_paragraph{
    height: 40%;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    
}
.card__text_arrow{
    width: 10%;
    display: flex;
    align-self: center;    
}
.aboutme-container{
    display: flex;
}
.aboutme-container__img{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
}
.aboutme-container__img img{
    width: 75%;
    align-self: center;
}
.aboutme-container__text{
    width: 50%;
}
.button-title{
    color: #FFB742;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 100px;
    height: 30px;
}
.big-title{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
}
.aboutme-container__paragraf{
    color:  #D5D5D5;;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
}
.aboutme-container__button{
    position: relative;
    top: 3vh;
}
.container-skills{
    display: flex;
    justify-content: space-between;
}
.container-skills__text{
    width: 60%;
}
.container-skills__paragraf{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 15px 0;
}
.container-skills__ikons{
    width: 40%;
}
.container-skills__ikon{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 30%;
}
.icon:hover{
    background-color: rgba(255, 183, 66, 0.5);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.icon{
    background-color: #383E45;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon img{
    width: 60%;
}
.container-works__title{
    text-align: center;
}
.container-works__sumtitle{
    margin: 0 auto;
}
.container-works__ul{
    width: 60%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.container-works__li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
#container-works__li1{
    width: 61px;
    
}
.container-works__li:hover{
    background-color: #FFB742;
    color: #000000;
    border-radius: 3px;
}
.container-works__li:hover .container-works__a{
    color: #000000;
}
.works-section{
    width: 90%;
    margin: 0px auto;
    display: flex;
}
.work-container{
    width: 90%;
    margin: 0 auto;
}
.featured-works{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.featured-works__work{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.featured-works__work_img{
    background-image: url(../img/work1.1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 55%;
}
.featured-works__work_litle{
    background-image: url(../img/work2.2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40%;

}
.reviews__screenshots{
    display: flex;
    justify-content: space-between;
}
.footer{
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-between;
}
.footer__container{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.footer__ul{
    width: 30%;
}
.footer__ul li{
    list-style: none;
}
#footer__ul{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #FFB742;
}
.footer__li{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: #D4D4D4;
}
.footer__margin{
    height: 1rem;
}
.footer_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #F5FBF2;
}
.li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #7B7B7B;
    height: 2rem;
}
.li:hover{
    color: #FFB742;
}